[client-server]                                                                                        
# Uncomment these if you want to use a nonstandard connection to MariaDB
socket=/tmp/mysql.sock
port=3306

# This will be passed to all MariaDB clients
[client]
password=123

[mysqld]
#allow connection from anywhere
bind-address=::

